.board {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, minmax(14rem, 1fr));
  gap: var(--space-3);
  min-height: 0;
}

@media (max-width: 79.999rem) {
  /* .board {
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
  } */
}

@media (max-width: 47.999rem) {
  .board {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    align-content: start;
    overflow-y: auto;
  }

  .board > section {
    min-height: auto;
  }
}

/* .list {
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  align-content: start;
  overflow-y: auto;
}

.list > section {
  min-height: auto;
} */
